
body {
    font-family: monospace;
    font-size: 1.25em;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #ee0000;
}

a {
    text-decoration: none;
    color: #000000;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    display: block;
    margin: 0 0;
}
